.container {
    width: 50%;
    /*height: 800px;*/
}
.menu{
    margin: 0px auto;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/
    width: 1000px;/*框框的宽度*/
    height: 800px;/*框框的长度*/
    padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
    border:1px solid #44a0e8;/*添加边框*/
}
li{
    list-style-type: none;/* 去掉li前的点 */
    float: left;/*将li设置成做浮动，变为联动*/
}
a{
    display: block;/*将a变成块状*/
    width: 100px;/*设置块的宽度*/
    height: 50px;/*设置块的长度*/
    font-family: Microsoft Yahei;
    line-height: 50px;/*设置字体在块中的高度*/
    background-color: #63b6f6;
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: #fff;
    text-align: center;/*字体居中*/
    text-decoration: none;/*去掉下划线*/
    font-size: 15px;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sender-box{
    float: left;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.receiver-box{
    float: right;
    width: 50%;
    height: 1000%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.form-group {
    margin-bottom: 40px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
