<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container">
    <div class="li">
        <a class="active" href="/templates/sent.html">我要寄件</a>
        <a href="/templates/">运单追踪</a>
        <a href="#contact">联系</a>
        <a href="#about">关于</a>
    </div>
</div>

<!--<div class="container">-->
<!--    <h1>欢迎来到电影网站！</h1>-->

<!--    <h2>热门电影</h2>-->
<!--    <ul class="movie-list">-->
<!--        <li class="movie-item" th:each="movie : ${movies}">-->
<!--            <a th:href="@{/test/movies}">-->
<!--                <div class="movie-image" th:style="'background-image: url(\'' + ${movie.originalLanguage} + '\')'"></div>-->
<!--                <div class="movie-title" th:text="${movie.title}"></div>-->
<!--                <div class="movie-description" th:text="${movie.originalTitle}"></div>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->

<!--    <h2>最新电影</h2>-->
<!--    <ul class="movie-list">-->
<!--        <li class="movie-item" th:each="movie : ${newMovies}">-->
<!--            <a th:href="@{/test/movies/{id}(id=${movie.id})}">-->
<!--                <div class="movie-image" th:style="'background-image: url(\'' + ${movie.originalLanguage} + '\')'"></div>-->
<!--                <div class="movie-title" th:text="${movie.title}"></div>-->
<!--                <div class="movie-description" th:text="${movie.originalLanguage}"></div>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

</body>
</html>