<!DOCTYPE html>
<html>
<head>
    <title>注册页面</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<h1>注册页面</h1>
<h3 th:text="${registerMessage}">输入注册信息</h3>
<form action="/test/register" method="post">
    <label for="username">用户名：</label>
    <input type="text" id="username" name="username" required>

    <label for="password">密码：</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm-password">确认密码：</label>
    <input type="password" id="confirm-password" name="confirm-password" required>

    <label for="email">电子邮件：</label>
    <input type="email" id="email" name="email" required>

    <button type="submit">注册</button>
</form>
</body>
</html>
