<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寄件页面</title>
    <link rel="stylesheet" href="/css/sent.css">
</head>
<body>
<div class="container">
    <form th:action="@{/test/sent}" method="post">
        <h1>寄方信息</h1>
        <div class="sender-box">
            <div class="form-group">
                <label for="sender">姓名:</label>
                <input type="text" id="sender" name="sender"/>
            </div>
            <div class="form-group">
                <label for="sender_province">省份:</label>
                <input type="text" id="sender_province" name="sender_province"/>
            </div>
            <div class="form-group">
                <label for="sender_phone">联系电话:</label>
                <input type="text" id="sender_phone" name="sender_phone"/>
            </div>
            <div class="form-group">
                <label for="sender_address">详细地址:</label>
                <input type="text" id="sender_address" name="sender_address"/>
            </div>
            <div class="form-group">
                <label for="sender_company">公司名称:</label>
                <input type="text" id="sender_company" name="sender_company"/>
            </div>
        </div>

        <h1>收方信息</h1>
        <div class="receiver-box">
            <div class="form-group">
                <label for="receiver">姓名:</label>
                <input type="text" id="receiver" name="receiver"/>
            </div>
            <div class="form-group">
                <label for="receiver_province">省份:</label>
                <input type="text" id="receiver_province" name="receiver_province"/>
            </div>
            <div class="form-group">
                <label for="receiver_phone">联系电话:</label>
                <input type="text" id="receiver_phone" name="receiver_phone"/>
            </div>
            <div class="form-group">
                <label for="receiver_address">详细地址:</label>
                <input type="text" id="receiver_address" name="receiver_address"/>
            </div>
            <div class="form-group">
                <label for="receiver_company">公司名称:</label>
                <input type="text" id="receiver_company" name="receiver_company"/>
            </div>
        </div>
    </form>
</div>

<div class="container">

</div>

</body>
</html>